*~
\#*#
aclocal.m4
autom4te.cache
config.h
config.log
config.log
config.status
configure
.deps
.dirstamp
*.in
Makefile
*.o
stamp-h*
*.tar.gz
/tcltl-*/
tcltl
/tools/compile
/tools/depcomp
/tools/install-sh
/tools/missing
