*~
.#*
\#*#
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.log
config.status
configure
.deps
.dirstamp
*.la
/lib/alloca.h
/lib/getopt-cdefs.h
/lib/getopt.h
/lib/libgnu.a
/lib/limits.h
.libs
/lib/stdio.h
/lib/stdlib.h
/lib/string.h
/lib/strings.h
/lib/sys/
libtool
/lib/unistd.h
/lib/wchar.h
/lib/wctype.h
*.lo
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
Makefile
Makefile.in
*.o
stamp-h*
*.tar.gz
/tcltl-*/
tcltl
/tests/defs
/tests/*.dir
/tests/*.log
/tests/run
/tests/*.trs
test-suite.log
/tools/compile
/tools/config.guess
/tools/config.sub
/tools/depcomp
/tools/install-sh
/tools/ltmain.sh
/tools/missing
/tools/test-driver
